[submodule "third_party/tracy"]
	path = third_party/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:g-truc/glm.git
[submodule "third_party/vk-bootstrap"]
	path = third_party/vk-bootstrap
	url = git@github.com:charles-lunarg/vk-bootstrap.git
